* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
  background-color: hsl(217, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
ul {
  list-style: none;
}
.container {
  width: 56.25rem;
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}
.formPath {
  background: url("./assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  width: 25rem;
  height: 35.5rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.circle {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
}
.active .circle {
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
}
.step {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.step span {
  color: rgb(217, 209, 209);
}
.page-content {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  color: white;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page .head {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  padding-top: 2rem;
  gap: 0.5rem;
}
.next-btn {
  /* margin-top: auto;
  margin-bottom: 2rem; */
  margin-left: auto;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: hsl(213, 96%, 18%);
  color: white;
  cursor: pointer;
}

.page.one {
  display: flex;
  width: 90%;
}
.page.one form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  row-gap: 1rem;
}
.info {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.info label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label-group {
  display: flex;
  color: hsl(213, 96%, 18%);
  gap: 15rem;
}
.error.one {
  padding-left: 4rem;
}
.error {
  display: none;
  color: red;
}
.page.one form input {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 85%;
}

/* page two */
.page.two {
  display: none;
  width: 90%;
}

.page.two form {
  display: flex;
  /* flex: 1; */
  /* align-items: center; */
  margin-top: 2rem;
  column-gap: 1.5rem;
}

.page.two .option {
  border: 2px solid hsl(229, 24%, 87%);
  border-radius: 7px;
  width: 160px;
  height: 180px;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.about-option {
  /* border: 2px solid red; */
  padding-top: 3.5rem;
}
.page.two form label:has(> input:checked) {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}

.btns {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}
.back-btn {
  /* margin-top: auto;
  margin-bottom: 2rem; */
  border: none;
  font-weight: 600;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 7px;
  color: hsl(231, 11%, 63%);
  cursor: pointer;
}
.toggle-btn {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5rem;
  background-color: hsl(228, 45%, 98%);
}
#checkbox {
  display: none;
}
.toggle-lable {
  padding: 0.8rem 1.8rem;
  background: hsl(213, 96%, 18%);
  display: inline-block;
  position: relative;
  border-radius: 2.5rem;
  cursor: pointer;
}
.toggle-btn .monthly {
  padding-right: 0.5rem;
}
.toggle-btn .yearly {
  padding-left: 0.5rem;
}
.toggle-ball {
  padding: 0.7rem 0.7rem;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: 0.15rem;
  left: 0.14rem;
  cursor: pointer;
  transition: 0.2s;
}
#checkbox:checked + .toggle-lable .toggle-ball {
  transform: translate(2rem);
  transition: 0.2s;
}

/* page 3 */
.page.three {
  display: none;
  width: 90%;
  /* border: 2px solid red; */
}
.page.three form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex: 1;
  justify-content: center;
  /* border: 2px solid red; */
  padding-right: 1rem;
  margin-top: 3rem;
}

.page.three form label:has(> input:checked) {
  border: 1px solid hsl(243, 91%, 53%);
  background-color: hsl(217, 100%, 97%);
}

.service {
  display: flex;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 0.5rem;
  padding: 1.5rem;
  align-items: center;
  column-gap: 1rem;
}
.about-service {
  display: flex;
  flex-direction: column;
}
.price {
  margin-left: auto;
}

/* page 4 */
.page.four {
  display: none;
  width: 90%;
}
.choosed-pack {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  flex: 1;
  justify-content: center;
  row-gap: 2rem;
}
.selected-plan {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: bold;
}
.charges {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.online-service,
.storage,
.profile {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.choosed-container {
  background-color: hsl(225, 29%, 97%);
}
.total-amt {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/* page 5 */
.page.five {
  display: none;
  align-items: center;
  width: 60%;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 0;
}
.page.five img {
  width: 50%;
}

.change-btn {
  border: none;
  padding-left: 1rem;
  font-weight: 800;
  background-color: transparent;
  color: hsl(231, 11%, 63%);
  cursor: pointer;
}
@media (max-width: 769px) {
  body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-content {
    display: none;
  }
  .formPath {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: url("./assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    width: 100%;
    height: 20%;
    justify-content: center;
    column-gap: 1rem;
    padding-left: 1rem;
    z-index: -1;
    padding-right: 0;
  }

  .circle {
    padding: 0.3rem;
  }
  .container {
    position: absolute;
    top: 5rem;
    width: 90%;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    padding-bottom: 3rem;
  }
  .page .head {
    padding-bottom: 2rem;
  }

  .btns {
    display: flex;
    position: fixed;
    padding: 0;
    bottom: 0;
    column-gap: 5rem;
    background-color: white;
    width: 100%;
    left: 0;
  }
  .next-btn {
    margin-right: 6%;
    margin-left: auto;
  }
  .label-group {
    display: flex;
    color: hsl(213, 96%, 18%);
    gap: 5rem;
  }
  .error.one {
    padding-left: 2rem;
  }
  .page.two form {
    flex-direction: column;
    row-gap: 1rem;
    /* border: 2px solid red; */
  }
  .page.two form {
    flex-direction: column;
    row-gap: 1rem;
    /* border: 2px solid red; */
    /* height: max-content; */
  }
  .page.two form .option {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    height: fit-content;
  }
  .about-option {
    padding-top: 0rem;
  }
  .arcade,
  .advanced,
  .pro {
    display: flex;
    flex-direction: row;
    /* border: 0.5px solid green; */
    column-gap: 0.8rem;
    /* padding: 2rem; */
  }
}
